<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- El atributo autocomplete activa o desactiva esta funcion -->
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" 
                   name="termino"
                   class="form-control"
                   [(ngModel)]="query"
                   placeholder="Buscar Pais..."/>
        </form>
    </div>
</div>

<div *ngIf="hayError"
     class="alert alert-danger">
    No se encontro nada con el termino {{ query }}
</div>

<hr>



<div *ngIf="paises.length > 0"
     class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th> Nombre </th>
                    <th> Poblacion </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td> {{i + 1}} </td>
                    <td>
                        <figure>
                            <img [src]="pais.flag" alt="notFound" class="small-flag">
                        </figure>
                    </td>
                    <td> {{ pais.name }} </td>
                    <td> {{ pais.population | number }} </td>
                    <td>
                        <!-- Se necesita construir la url, ya que esta pide un argumento;
                        por esto, el routerLink esta entre corchetes y tambien su valor -->
                        <a [routerLink]="['/pais',pais.alpha2Code]"> Ver..</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>