<div class="animate__animated animate__fadeInDown animate__faster">
    <div class="row">
        <h3>Registro de Usuario</h3>
    </div>
    <hr>
    <div class="row">
        <form (ngSubmit)="registrar()">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuarioR.nom">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="pass" name="nombreUsuario" [(ngModel)]="usuarioR.userN">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" [(ngModel)]="usuarioR.email">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="fecha" name="facha" [(ngModel)]="usuarioR.fechaN">
            </div>
            <div class="d-grid gap-2 mt-5">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>
    </div>
</div>

<!-- <div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]='paises'></app-pais-tabla>
    </div>
</div> -->