<div class="animate__animated animate__fadeInDown animate__faster">
    <h2>Por Capital</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!--
            el evento onEnter pertenece al componente pais-input.component, asi que
            escuchamos el evento, cuando en el formulario de busqueda se precione enter,
            este escuchara el evento automaticamente y ejecutara la funcion buscar, que realizara
            la consulta a la API. A este metodo se le pasa como argumento el evento, ya que este
            en si es el valor que se esta emitiendo en el evento (el valor de busqueda (query))
        -->
            <app-pais-input (onEnter)="buscar( $event )" placeH="Buscar Capital..."></app-pais-input>
        </div>
    </div>

</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontro nada con el termino {{ query }}
</div>

<hr>



<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>