<h2>UwU Sistemas</h2>
<hr>
<ul class="list-group">
    <!-- 
                -> routerLink indica a que path va a direccionar.
                -> routerLinkActive añade una clase cuand este path este abierto
                   en este caso se añade la clase "active" que pertenece a los estilos de bootstrap.
                -> [routerLinkActiveOptions]="{ exact: true }" nos muestra la clase deseada solo cuando estemos exactemente en
                   el path deseado.
             -->
    <li routerLink="" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="list-group-item">
        Usuarios (publico)</li>

    <li routerLink="interno"
        routerLinkActive="active" 
        class="list-group-item">
        Usuarios (interno)</li>

    <li routerLink="registro" 
        routerLinkActive="active" 
        class="list-group-item">Registrar</li>

    <li routerLink="actualizar" 
        routerLinkActive="active" 
        class="list-group-item">Actualizar</li>
</ul>