<h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <!-- 
                -> routerLink indica a que path va a direccionar.
                -> routerLinkActive añade una clase cuand este path este abierto
                   en este caso se añade la clase "active" que pertenece a los estilos de bootstrap.
                -> [routerLinkActiveOptions]="{ exact: true }" nos muestra la clase deseada solo cuando estemos exactemente en
                   el path deseado.
             -->
    <li routerLink="" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        class="list-group-item">
        Buscar Pais</li>

    <li routerLink="region" 
        routerLinkActive="active" 
        class="list-group-item">Por region</li>

    <li routerLink="capital" 
        routerLinkActive="active" 
        class="list-group-item">Por capital</li>
</ul>